@model MVC.Models.ClientesTelefonosModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar registro</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Telefonos Clientes w Model</h4>
    <hr />
    <dl class="dl-horizontal">
        @using (Html.BeginForm("Delete", "ClientesTelefonos", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.clientoriginal)
            @Html.HiddenFor(m => m.teleoriginal)
            @Html.HiddenFor(m => m.ClientesTels.Telefono)

            
            if (Model.CliTelsLista != null)
            {
                foreach (var itm in Model.CliTelsLista.Where(m => m.Telefono == Model.ClientesTels.Telefono))
                {
           


                    <dt>
                        Numero
                    </dt>

                    <dd>                   
                            @Html.DisplayFor(model => itm.Telefono)<br />                      
                    </dd>

                    <dt>
                        Ciudad caracteristica
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => itm.Ciudades.Nombre)

                    </dd>

                    <dt>
                        Cliente
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => itm.Clientes.Nombre) @Html.DisplayFor(model => itm.Clientes.Apellido) <br />
                    </dd>

                }

            }


            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger btn-xs " />


                <a class="btn btn-info btn-xs" href="@Url.Action("Index", "ClientesTelefonos")"><i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>


        }



    </dl>
</div>
