@model MVC.Models.CiudadesModel

@{
    ViewBag.Title = "GetCiudad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>ProvinciasModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Id)

        </dd>

        <dt>
            Provincia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Provincias.Nombre)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Ciudad.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
