@model MVC.Models.FuentesContactosModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FuentesContactosModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(m => m.FuentesContactos.Id)

        <dt>
            Fuente de contacto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuentesContactos.Nombre)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.FuentesContactos.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuentesContactos.Id)

        </dd>



    </dl>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.FuentesContactos.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
