@model MVC.Models.FuentesContactosModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create", "Clients", new { @class = "btn btn-primary" })
</p>
<table class="table" id="dem">

    <thead>
        <tr>
            <th>
                Fuente de Contacto
            </th>

            <th>
                Codigo de Fuente
            </th>
          

            <th></th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model.ListaFuentesContactos)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>


              


                <td>
                    <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Edit", "FuentesContactos", new { id = item.Id })"><i class="glyphicon glyphicon-edit"></i></a>

                    <a class="btn btn-success btn-xs" title="Detalles" href="@Url.Action("Details", "FuentesContactos", new { id = item.Id })"><i class="glyphicon glyphicon-file"></i></a>

                    <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action("Delete", "FuentesContactos", new { id = item.Id })"><i class=" glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>


</table>


@section scripts
    {



    <script>

        $(document).ready(function () {
            $('#dem').DataTable();
        });

    </script>

}
