@model MVC.Models.MailsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Correos mails de clientes</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create", "Mails", new { @class = "btn btn-primary" })
</p>

<table class="table" id="dem">

    <thead>
        <tr>

            <th>
                Mail
            </th>

            <th>
                Cliente
            </th>

            <th>

            </th>

        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model.MailsLista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Apellido)
                    @Html.DisplayFor(modelItem => item.Clientes.Nombre)
                </td>

                <td>
                    <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Edit", "Mails", new { id = item.Id })"><i class="glyphicon glyphicon-edit"></i></a>

                    <a class="btn btn-success btn-xs" title="Detalles" href="@Url.Action("Details", "Mails", new { id = item.Id })"><i class="glyphicon glyphicon-file"></i></a>

                    <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action("Delete", "Mails", new { id = item.Id })"><i class=" glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>


</table>

<!--Esto va al layout-->
@section scripts

    {


    <script>
        $(document).ready(function () {
            $('#dem').DataTable();
        });
    </script>

}