@model MVC.Models.PaisesModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm("Crear", "Paises", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nuevo Pais</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Pais.Id)

        <div class="form-group">
            <h5 class="control-label col-lg-3">Nombre Pais</h5>
            @Html.TextBoxFor(m => m.Pais.Nombre, htmlAttributes: new { @class = "form-control" })

        <div class="col-md">

            
            @Html.ValidationMessageFor(model => model.Pais.Nombre, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info btn-xs" />

                <a class="btn btn-info btn-xs" href="@Url.Action("Index", "Paises")"><i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
